* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.drag-cont {
    width: 100%;
    height: auto;
    display: flex;
}

.drag-cont > div:first-of-type {
    width: calc(100% - 3px);
}

.dragger {
    width: 3px;
    height: 100%;
    background-color: black;
    cursor: col-resize;
    user-select: none;
}

code, .code {
    background-color: #333;
    color: aqua;
    padding: 2px 4px;
    border-radius: 5px;
    font-family: monospace;
    white-space: pre-wrap;
    max-width: max-content;
}

.code-comment {
    color: rgb(11, 163, 11);
    font-family: monospace;
}